<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cg.cropdeal">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CropDeal">
        <activity
            android:name=".view.AdminActivity"
            android:exported="true" />
        <activity
            android:name=".view.NavigationActivity"
            android:exported="true" />
        <activity
            android:name=".view.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".view.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".view.SignInActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true">
            <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />
            <meta-data
                android:name="com.facebook.sdk.ClientToken"
                android:value="@string/facebook_client_token" />
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />
            <meta-data
                android:name="com.facebook.sdk.ClientToken"
                android:value="@string/facebook_client_token" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>